
*{
    margin:0;
    padding:0;

}


.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #3A3285;
  padding: 10px 20px;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
  position: sticky;
  top: 0;
  z-index: 100;
}

.navbar-title {
  font-size: 1.8rem;
  color: #fff;
  font-weight: bold;
}

.navbar-right {
  display: flex;
  align-items: center;
  gap: 15px; 
}

.navbar-searchbar {
  display: flex;
  align-items: center;
  background-color: #f1f1f1;
  border-radius: 5px;
  padding: 5px 10px;
}

.search-input {
  border: none;
  outline: none;
  background: transparent;
  font-size: 1rem;
  padding: 5px;
  width: 200px;
}

.search-icon {
  color: #555;
  margin-left: 8px;
  cursor: pointer;
}

.menu-icon {
  cursor: pointer;
  color: #fff;
  display: block; 
  font-size: 30px;
}

/* Responsive adjustments */
@media screen and (max-width: 400px) {

 .navbar {
   /* background-color: #02010c; */
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5px 10px;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
  position: sticky;
  top: 0;
  z-index: 100;
}

.navbar-title {
  font-size: 1.2rem;
  color: #fff;
  font-weight: bold;
}

.navbar-right {
  display: flex;
  align-items: center;
  gap: 10px; 
}

.navbar-searchbar {
  display: flex;
  align-items: center;
  background-color: #f1f1f1;
  border-radius: 5px;
  padding: 2px 4px;
}

.search-input {
  border: none;
  outline: none;
  background: transparent;
  font-size: 1rem;
  padding: 2px;
  width: 80px;
}

.search-icon {
  color: #555;
  margin-left: 5px;
  cursor: pointer;
}

.menu-icon {
  cursor: pointer;
  color: #fff;
  display: block; 
  font-size: 25px;
}
 ::placeholder {
   color: #f1f1f1;
  
  }
}

@media screen and (max-width:217px){
  

.navbar-searchbar {
 display: none;
}

.search-input {
 display:none;
}

.search-icon {
   display:none;
}

.menu-icon {
  cursor: pointer;
  color: #fff;
  display: block; 
  font-size: 10px;
}

}