.plank-container{
    display:flex;
    flex-direction: column;

    /*  border: 2px solid black; */
    gap:160px;
   margin-top:140px;
   
 margin-left:24%;
   width:50%;
  
}
.plank-dark{
      width:100%;
    height:20px;
    background-color: #652f03 ; 
 clip-path: polygon(4% 0, 96% 0, 100% 100%, 0% 100%);

/* border: 3px solid black; 
 */
}
.plank-bottom{
    width:100%;
    height:20px;
    background-color: #c9a150;
    /* border: 3px solid black;  */    

}

